<aside class="aside" id="database">
  <h1 class="title">DATABASE</h1>
  <ul id="sub-nav">

    <li class="sub-content"><h2>Mysql 8</h2>
      <ul class="content-toggle" id="w3-school">
        <li class="content"><a href="/database/01-mysql/00-mysql-basic">MySql Basic</a></li>
        <li class="content"><a href="/database/01-mysql/01-db-table-handle">DB, TABLE HANDLE</a></li>
        <li class="content"><a href="/database/01-mysql/02-constraints">CONSTRAINTS</a></li>
        <li class="content"><a href="/database/01-mysql/03-select">SELECT</a></li>
        <li class="content"><a href="/database/01-mysql/04-view-insert-update-delete">VIEW, INSERT, UPDATE, DELETE</a></li>
        <li class="content"><a href="/database/01-mysql/05-select-search-like-in-between">LIKE, IN, BETWEEN</a></li>
        <li class="content"><a href="/database/01-mysql/06-aggregate">AGGREGATE</a></li>
        <li class="content"><a href="/database/01-mysql/07-join">JOIN, UNION</a></li>
        <li class="content"><a href="/database/01-mysql/08-group-by-having">GROUP BY, HAVING</a></li>
        <li class="content"><a href="/database/01-mysql/09-function-and-etc">FUNCTIONS ...</a></li>
        <li class="content"><a href="/database/01-mysql/10-procedure-trigger">Procedure, Trigger</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>PostgreSQL</h2>
      <ul class="content-toggle" id="psql">
        <li class="content"><a href="/database/02-psql/01-installation">Postgre Install & datatype</a></li>
        <li class="content"><a href="/database/02-psql/02-psql-basic-crud">CRUD</a></li>
        
      </ul>
    </li>

  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>