<aside class="aside" id="restapi">
  <h1 class="title">SPRING REST</h1>
  <ul id="sub-nav">

    <li class="sub-content"><h2>Spring 기본</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/00-intro/01-intro">전체내용 소개</a></li>
        <li class="content"><a href="/restapi/00-intro/02-intro-spring-boot">Spring boot 란</a></li>
        <li class="content"><a href="/restapi/00-intro/03-project-structure">프로젝트 구조</a></li>
        <li class="content"><a href="/restapi/00-intro/04-sts-setting">STS 설정</a></li>
        <li class="content"><a href="/restapi/00-intro/05-intellij-setting">Intellij 설정</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>프로젝트 설계 및 구성</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/01-designProject/01-project-design">프로젝트 설계</a></li>
        <li class="content"><a href="/restapi/01-designProject/02-project-planning">프로젝트 계획</a></li>
        <li class="content"><a href="/restapi/01-designProject/03-oop-design-using-class-diagram">class diagram</a></li>
        <li class="content"><a href="/restapi/01-designProject/04-oop-design-using-sequence-diagram">sequence diagram</a></li>
        <li class="content"><a href="/restapi/01-designProject/05-tdd-dev">TDD</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>implementing</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/03-implement/01-CRUD">CRUD</a></li>
        <li class="content"><a href="/restapi/03-implement/02-refac">Refactory</a></li>
        <li class="content"><a href="/restapi/03-implement/03-artifact-assignment">artifact assignment</a></li>
        <li class="content"><a href="/restapi/03-implement/04-user-crud">User CRUD</a></li>
        <li class="content"><a href="/restapi/03-implement/05-paging-sorting">Paging and Sorting</a></li>
        <li class="content"><a href="/restapi/03-implement/06-spec">Specification</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>Spring Security</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/04-spring-security/01-spring-security-intro">Introduction</a></li>
        <li class="content"><a href="/restapi/04-spring-security/02-http-basic-authentication">HTTP Basic Authentication</a></li>
        <li class="content"><a href="/restapi/04-spring-security/03-jwt">JWT</a></li>
        <li class="content"><a href="/restapi/04-spring-security/04-handling-spring-security-exception-using-controller-advice">JWT Exception in Spring Security</a></li>
        <li class="content"><a href="/restapi/04-spring-security/05-spring-security-test">Spring Security Test</a></li>
        <li class="content"><a href="/restapi/04-spring-security/06-Restrict-only-their-own-data">user 자기꺼만 수정가능하게 하기</a></li>
        <li class="content"><a href="/restapi/04-spring-security/07-password-change-redis">암호변경, redis</a></li>
        <li class="content"><a href="/restapi/04-spring-security/08-cors-setting">CORS setting</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>Deployment</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/05-deploy/01-packaging-container">패키징, 콘테이너</a></li>
        <li class="content"><a href="/restapi/05-deploy/02-ci-di">CI/DI</a></li>
        <li class="content"><a href="/restapi/05-deploy/03-real-db-connect">Real DB 구성</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>Observing</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/06-observing/01-spring-actuator">Spring Actuator</a></li>
        <li class="content"><a href="/restapi/06-observing/02-grafana-prometheus-zipkin-mail">Spring Monitoring Tools</a></li>
      </ul>
    </li>

    <li class="sub-content"><h2>RestClient</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/07-restClient/01-openai">OpenAI</a></li>
      </ul>
    </li>



    <li class="sub-content"><h2>공통사항</h2>
      <ul class="content-toggle">
        <li class="content"><a href="/restapi/33-common-needs/01-h2db-setting">H2 db 설정</a></li>
        <li class="content"><a href="/restapi/33-common-needs/02-postman-why-dto">postman and DTO</a></li>
        <li class="content"><a href="/restapi/33-common-needs/03-security-config">기본 security 설정</a></li>
        <li class="content"><a href="/restapi/33-common-needs/04-github">github</a></li>
        <li class="content"><a href="/restapi/33-common-needs/06-upgrading-spring-boot-version">spring version upgrade</a></li>
        <li class="content"><a href="/restapi/33-common-needs/07-command">Command</a></li>
      </ul>
    </li>

  </ul>
</aside>
<div id="hamburger"><img src="/images/threelines.webp" alt="three lines"></div>