@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 3.2rem;
  /* font size */
  --fs-3xl: 2.2rem;
  --fs-2xl: 2rem;
  --fs-xl: 1.5rem;
  --fs-lg: 1.2rem;
  --fs-base: 1rem;
  --fs-small: 0.87rem;

  --fs-h1: var(--fs-3xl);
  --fs-h2: var(--fs-2xl);
  --fs-h3: var(--fs-xl);
  --fs-h4: var(--fs-lg);
  --fs-h5: 1.1rem;
  /* font family */
  --font-base: 'Noto Sans KR', 'Roboto', 'Source Code Pro', sans-serif, serif;
  --font-mono: 'Source Code Pro','Noto Sans KR', serif;
  --font-header: 'Roboto', 'Noto Sans KR', sans-serif, serif;
  /* color */
  --gray-dark: #333;
  --gray-light: whitesmoke;
  --red-dark: #b91c1c;
  --orange: orange;
  --blue-dark: darkblue;
  --blue-light: blue;
  --bg-dark: #555151;
  --bg-light: #cccccc;
  --accent:rgb(122, 0, 236);
  --nav-bg-color: var(--gray-dark); 
  --nav-text-color: var(--gray-light); 

  --shadow-box: 0 3px 3px -3px black;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: var(--font-base);
  font-size: var(--fs-base); 
  line-height: 1.5;
}
@layer components {
  .card {
    @apply m-10 rounded-lg bg-white px-6 py-8 shadow-xl 
        ring-1 ring-amber-400/5 dark:bg-black
  }
  .pane {
    @apply flex items-center justify-start
  }
}
@layer base {
/*   h1 {
    @apply text-3xl font-bold text-center text-green-900;
  }
  h3 {
    @apply text-2xl font-medium tracking-tight text-slate-900 dark:text-white;
  }  
  button {
    @apply px-4 py-2 text-sm font-medium mt-8 
        text-blue-600 bg-blue-200 rounded-md;
  }
  pre {
    @apply font-pre text-base;
  }
  section {
    @apply p-5 border-1 border-gray-500 rounded-lg m-2;
  } */
   input {
    @apply border-[1px] border-blue-500 p-2 mx-3
   }
}

#root.dark, body.dark, .main-wrapper.dark, .content-wrapper.dark, 
.aside-wrapper.dark, .content-wrapper.dark, .main-wrapper.dark, 
.aside__a-text.dark, p.dark, .aside-container.dark,
h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark, 
ul.dark, li.dark, ol.dark, a.dark, table.dark, td.dark, tr.dark,
.accordian__details.dark, details.dark, .details__div, .details__summary {
  background-color: var(--gray-dark); 
  color: white; 
}
h1.dark {
  color: var(--gray-light);
  background-color: var(--bg-dark);
}

.for-space {
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
}
ul, ol {
  margin-top: var(--fs-base);
  padding: 0;
  margin-left: var(--fs-2xl);
}
ul {
  list-style: circle;
}
ol {
  list-style: decimal;
}
li {
  margin-bottom: 0.var(--fs-base); 
  margin-top: var(--fs-base);
  font-size: var(--fs-lg);
  color: var(--gray-dark); 
}
h1 {
  font-size: var(--fs-h1);
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
  background-color: var(--bg-dark);
  color: var(--bg-light); 
  width: 100%;
  font-family: var(--font-header);
}


h2 {
  font-size: var(--fs-h2);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: var(--gray-dark); 
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-family: var(--font-header);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: 500; 
  color: var(--gray-dark); 
  margin: 1.25rem 0 0.7rem var(--fs-base); 
}
h4 {
  font-size: var(--fs-h4);
  font-weight: 800; 
  color: var(--gray-dark); 
  margin: 1.25rem 0 0.7rem var(--fs-base); 
}
h5 {
  font-size: var(--fs-h5);
  font-weight: 600;
  color: var(--gray-dark);
  margin: 1.25rem 0 0.7rem var(--fs-base);
}
p {
  margin: 0.25rem 0.5rem;
  font-size: var(--fs-lg); 
  color:var(--gray-dark);
  text-indent: var(--fs-base);
}
pre {
  white-space: pre-wrap; 
  font-size: var(--fs-base); 
  color: var(--gray-dark);
  background-color: var(--bg-light);
  padding: var(--fs-small); 
  font-family: var(--font-mono);
  width: 99%;
  margin: var(--fs-small) auto; 
}
table, td, tr, td {
  border: 2px solid var(--gray-light);
  border-collapse: collapse;
  color: var(--gray-dark);
  padding: 0.5rem;
}
table {
  width: 100%;
  margin: var(--fs-base) 0;
  font-size: var(--fs-small); 
}
button {
  padding: 0.5rem var(--fs-base); 
  font-size: var(--fs-small); 
  font-weight: 500;
  margin-top: var(--fs-base); 
  color: var(--gray-light); 
  background-color: var(--nav-bg-color); 
  border: none;
  border-radius: 0.375rem; 
}

section {
  margin: 1.5rem 0;
}
.row-space-between-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-center-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-end-items {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.col-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fs-base);
}
.contentCenter {
  display: grid;
  place-content: center;
}
/* ============= main wrapper , aside, content ================ */
.main-wrapper {
  display: flex;
  gap: 1px;
}
.aside-wrapper {
  flex: 2;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-light);
  border-right: 1px solid #eee; 
  z-index: 10;
  box-shadow: 2px 0px 2px -2px var(--gray-dark) ;
  /* min-height: 100vh; */
  /* min-width:220px; */
  /* max-width:240px; */
  background-color: var(--bg-light);
}
.aside-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--header-height);
  padding: 1.5rem 0.5rem;
  background-color: var(--bg-light);
}
.accordian__container, .accordian__details, .details__div, .details__summary {
  background-color: var(--bg-light);
  color: var(--red-dark);
}
.accordian__container.dark, .accordian__details.dark, .details__div.dark, .details__summary.dark {
  background-color: var(--gray-dark);
  color: var(--bg-light);
}
.aside__a-text {
  display:block;
  color: var(--bg-dark); 
  text-decoration: none;
  font-size: var(--fs-h5);
  margin-bottom: 0.4em;
}
.content-wrapper {
  flex: 8;
  padding: var(--fs-base); 
  background-color: var(--gray-light); 
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: var(--fs-base); 
}
.hamburger {
  display: none;
  position: sticky;
  top: var(--header-height);
  margin: 0;
  color:var(--gray-dark);
  cursor: pointer;
  width: 100%;
  background-color: var(--bg-light);
  font-size: var(--fs-h2); 
  height: 3rem;
  z-index: 50;
}

.aside__current {
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.5s ease;
}
/* Responsive styles */
@media screen and (max-width: 850px) {
  .main-wrapper {
    flex-direction: column;
  }
  .aside-wrapper {
    position: sticky;
    top: 6.2rem;
  }
  .aside-container {
    position: sticky;
    top: 6rem;
    padding: var(--fs-base) 0 0 2rem;
  }
  .aside__a-text {
    display: inline-block;
    margin-right: var(--fs-base);
  }
  .content-wrapper {
    padding-top: 0;
  }
  .hamburger {
    display: inline-block;
  }
  h1 {
    position: relative;
    top: 0;
  }

  .for-space {
    height: 9.2rem;
    margin-top: -9.2rem;
    visibility: hidden;
  }
}